.home-container{
    background-color: whitesmoke;
    font-weight: 400;
    font-style: normal;
    
    .main-content{

        .banner-section{
            .hero-container{
                overflow: hidden;
                object-fit: contain;
                position: relative;

                .hero-img{
                    width: 100%;
                    height: calc(100vh - 100px);
                }
            }

            .text-container{
                color: white;
                position: absolute;
                bottom: 10px;
                text-align: center;

                h3{
                    font-size: 48px;
                    margin: 5px;

                    .special{
                        padding: 0px 10px;
                        background-color: rgba($color: yellow, $alpha: 0.5);
                        border-radius: 20px;
                    }
                }

                p{
                    font-size: 28px;
                    margin: 0;
                    background-color: rgba($color: black, $alpha: 0.5);
                }
            }
        }

        .services-section{
            padding: 20px 50px 70px 50px;

            h3{
                font-size: 32px;
                text-align: center;
            }
            .card-container{
                
            }
        }
    }

}