<app-navbar @fade></app-navbar>

<div class="home-container" @fade>
    <div class="main-content animate__animated animate__fadeInUp">
        <div class="banner-section">
            <div class="hero-container">
                <img src="assets/hero.jpg" alt="Hero Banner" class="hero-img" />
            </div>
            <div class="text-container">
                <h3>Welcome to the Portfolio of <span class="special">ZinX</span>.</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores quidem nihil provident obcaecati.
                    Facere eius sequi tempore accusamus sit repellendus impedit quasi! Voluptas perspiciatis id non quod
                    provident voluptatum. Aspernatur.</p>
            </div>
        </div>
        <div class="services-section">
            <h3>Our Services</h3>
            <div class="card-container">
                <app-card></app-card>
            </div>
        </div>
    </div>
</div>

<app-footer @fade></app-footer>