/* contact-form.component.scss */
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    div {
      margin-bottom: 15px;
    }
  
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }
  
    input,
    textarea {
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
  
      &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      }
    }
  
    button {
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      background-color: darkcyan;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: rgb(16, 49, 55);
      }
    }
  
    .error-message {
      color: red;
      font-size: 0.875rem;
      margin-top: 5px;
    }
  }
  