.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(16, 49, 55);
    color: #fff;
    font-size: 20px;
    font-weight: bold;

    .footer-links{
        display: flex;
    }

    p{
        margin: 0;
        font-size: 14px;
        .color-links{
            color: gold;

            &:hover{
                color: red;
            }
        }
    }

    a{
        text-decoration: none;
        color: #fff;
        border-top: 1px solid transparent;
        margin-right: 20px;
        transition: border .3s ease;

        &:hover{
            color: yellow;
            cursor: pointer;
        }
    }
}